.vscode
.venv
check-migrate/temp/*
check-migrate/results/*
target/
migration-status/temp/*
migration-status/temp_symbols/*
migration-status/temp_identifiers/*
migration-status/results/*
migration-status/tests/*
migration-status/.env

sonar/input*
sonar/results/*
sonar/temp/*
sonar/.env

code/input*
code/results/*
code/temp/*

github/input*
github/results/*
github/.env

analysis/results/*
analysis/input/*
analysis/plot.ipynb
analysis/table.ipynb

__pycache__/

migration-status/analysis.ipynb
migration-status/analysis2.ipynb
migration-status/check-status copy 2.ipynb
migration-status/check-status copy.ipynb
migration-status/check-status.ipynb
migration-status/check.py
migration-status/dhat-heap.json
migration-status/final_merged.csv
migration-status/flamegraph.svg
migration-status/heaptrack.cargo.91134.zst
migration-status/heaptrack.cargo.150775.zst
migration-status/metadata_percentage_by_star_count.png
migration-status/newplot.png
migration-status/panic_log.txt
migration-status/perf.data
migration-status/repository_stars_distribution.png
migration-status/stars_distribution.png
